{% extends "index.html" %}

{% block titulo %}
    {% if perms.produtos.edit_produto %}
    Editando: {{ produto_em_destaque.nome }}
    {% else %}
    Acesso restrito.
    {% endif %}
{% endblock %}

{% block conteudo %}

{% if perms.produtos.edit_produto %}
<h1>Editando: {{ produto_em_destaque.nome }}</h1>
<form action="{% url 'produtos:edit' id=produto_em_destaque.id %}" method="POST">
    {% csrf_token %}
    {{ formulario.as_p }}
    <input type="submit" value="Ok">
</form>

{% else %}
<p>Erro: Você não tem autorização para visualizar esta página.</p>
{% endif %}

{% endblock %}