{% extends "index.html" %}

{% block titulo %}
    {% if perms.produtos.edit_produtos %}
        Listando todos os produtos.
    {% else %}
        Acesso restrito.
    {% endif %}
{% endblock %}

{% block conteudo %} 
{% if perms.produtos.edit_produto %}
{% if lista_de_produtos %}
<p>Bem vindo à área administrativa. Selecione um produto para editar. <a class="waves-effect waves-light btn" href="{% url 'produtos:new' %}">Novo produto</a></p>
<ul class="collection">
  {% for produto in lista_de_produtos %}
  <li class="collection-item avatar">
    <div style="display: flex; flex-direction: row; align-items: center;">
      <img style="border-radius: 90%;" width="150" heigth="266" src="{{produto.imagem}}"/>
      <div class="container">
        <span class="title"><strong><a href="{% url 'produtos:detail' id=produto.id %}">{{produto.nome}}</a></strong></span>
        <p>{{produto.descrição}}</p>
      </div>
    </div>
    <p class="secondary-content">{{produto.nome_da_categoria}}</p>
  </li>
  <!-- <li><a href="/produtos/{{ produto.id }}/">{{ produto.nome }}</a></li> -->
  {% endfor %}
</ul>
{% else %}
<p>Sem produtos cadastrados.</p>
{% endif %}
{% if perms.produtos.add_produto %}
{% endif %}
{% else %}
<p>Área restrita</p>
{% endif %} {% endblock %}
