{% extends "index.html" %}

{% block conteudo %}
        {% if lista_de_produtos %}
        <ul>
            {% for produto in lista_de_produtos %}
            <li><a href="{% url 'produtos:detail' id=produto.id %}">{{ produto.nome }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Sem produtos cadastradas.</p>
    {% endif %}
    
    {% if perms.produtos.add_produto %}
    <br/>
    <a href="{% url 'produtos:new' %}">Adicionar novo produto.</a>
    {% endif %}
    
{% endblock %}