{% extends "index.html" %}

{% block conteudo %}
        {% if pagina %}
        <ul class="collection">
            {% for promocao in pagina %}
            <li class="collection-item avatar" class="container">
                <div style="display: flex; flex-direction: row; align-items: center;" >
                    <img src="{{promocao.produto.imagem}}" style="border-radius: 90%;" width="150" heigth="266"  >
                    <div style="margin-left: 5%">
                        <span class="title" style="color: green; font-size: x-large;"><strong>{{ promocao.produto }}</strong></span>
                        <p style="font-size: large;"><strong>Loja: {{promocao.loja}}</strong> <br>
                            Preço: R$ {{promocao.preco}}
                        </p>
                                            </div>
                    <a style="margin: auto;" class="waves-effect waves-light btn" href="{% url 'promocoes:detail' id=promocao.id %}">Ver Detalhes</a>
                </div>
                <p class="secondary-content">
                    <label>
                        <form action="">
                            <input id="{{promocao.id}}" type="checkbox" />
                            <span>Favoritos</span>
                        </form>
                    </label>
                </p>
              </li>
            
            {% endfor %}
        </ul>
        
        {% if pagina.has_previous %}
        <a href="?p=1">Início</a>
        <a href="?p={{ pagina.previous_page_number }}">Anterior</a>
        {% endif %}
        Página atual {{ pagina.number }} de {{ pagina.paginator.num_pages }}.

        {% if pagina.has_next %}
        <a href="?p={{ pagina.next_page_number }}">Proxima</a>
        <a href="?p={{ pagina.paginator.num_pages }}">Última</a>
        {% endif %}

        <form action="{% url 'promocoes:index' %}" method="GET">
            <label for="pagina">Ir para página:</label>
            <input type="number" class="browser-default" id="custom_p" name="p" value="{{ pagina.number }}">
            <input type="submit" id="submit_p" value="Ir!">
        </form>

    {% else %}
        <p>Sem promoções cadastradas.</p>
    {% endif %}
    <p>Filtros aplicados:<br>
    De R$ {{ dicfilters.p_min }} a R$ {{ dicfilters.p_max }}<br>
    Categoria: {% if dicfilters.categoria %}{{ dicfilters.categoria }}{% else %}Nenhuma categoria selecionada{% endif %}<br>
    Loja: {% if dicfilters.loja.0.nome %}{{ dicfilters.loja.0.nome }}{% else %}Nenhuma loja selecionada.{% endif %}
    </p>
    <p>
    <form action="{% url 'promocoes:index' %}" method="GET">
        <label for="p_min">Preço mínimo:</label>
        <input type="number" id="p_min" name="p_min" value="0">
        <label for="p_max">Preço máximo:</label>
        <input type="number" id="p_max" name="p_max" value="1000000">
        <label for="cat">Categoria:</label>
        <select class="browser-default" name="cat" id="cat">
            <option value="">Todas</option>
            {% for categoria in lista_de_categorias %}
            <option value="{{ categoria.0 }}">{{ categoria.1 }}</option>
            {% endfor %}
        </select>        
        <label for="loj">Loja:</label>
        <select class="browser-default" name="loj" id="loj">
            <option value="">Todas</option>
            {% for loja in lista_de_lojas %}
            <option value="{{ loja.id }}">{{ loja.nome }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filtrar!">
    </form>
    </p>
    {% if perms.promocoes.add_promocao %}
    <br/>
    <a href="{% url 'promocoes:new' %}">Adicionar nova promoção.</a>
    {% endif %}
    
{% endblock %}