{% extends "index.html" %}

{% block conteudo %}
        {% if lista_de_promocoes %}
        <ul>
            {% for promocao in lista_de_promocoes %}
            <li><a href="{% url 'promocoes:detail' id=promocao.id %}">{{ promocao.produto }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Sem promoções cadastradas.</p>
    {% endif %}
    
    {% if perms.promocoes.add_promocao %}
    <br/>
    <a href="{% url 'promocoes:new' %}">Adicionar nova promoção.</a>
    {% endif %}
    
{% endblock %}