{% extends "index.html" %}

{% block titulo %}

    {% if perms.promocoes.add_promocao %}
        Criando nova promoção.
    {% else %}
        Acesso restrito.
    {% endif %}

{% endblock %}


{% block conteudo %}

    {% if perms.promocoes.add_promocao %}
        <h1>Criando nova promoção</h1>
        <form action="{% url 'promocoes:new' %}" method="POST">
            {% csrf_token %}
            {{ formulario.as_p }}
            <input type="submit" value="Adicionar">
        </form>
    
    {% else %}
        <p>Erro: você não tem autorização para visualizar esta página.</p>
    {% endif %}

{% endblock %}