{% extends "index.html" %}

{% block titulo %}
    {% if perms.produtos.edit_lojas %}
    {{ loja_em_destaque.nome }}
    {% else %}
    Acesso restrito.
    {% endif %}
{% endblock %}

{% block conteudo %}
    {% if perms.produtos.edit_lojas %}
        <br>
        {{ loja_em_destaque.nome }}
        <br>
        {{ loja_em_destaque.cidade }}/{{ loja_em_destaque.uf }}
        <br>
        {{ loja_em_destaque.email }}
        <br>    
        <a href="{% url 'lojas:edit' id=loja_em_destaque.id %}">Editar</a>
        
    {% else %}
    <p>Acesso restrito.</p>
    {% endif %}

{% endblock %}