{% extends "index.html" %}

{% block titulo %}

    {% if perms.lojas.add_loja %}
        Criando nova loja.
    {% else %}
        Acesso restrito.
    {% endif %}

{% endblock %}


{% block conteudo %}

    {% if perms.lojas.add_loja %}
        <h1>Criando nova loja</h1>
        <form action="{% url 'lojas:new' %}" method="POST">
            {% csrf_token %}
            {{ formulario.as_p }}
            <input type="submit" value="Adicionar">
        </form>
    
    {% else %}
        <p>Erro: você não tem autorização para visualizar esta página.</p>
    {% endif %}

{% endblock %}